<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create BudgetItem</title>
</head>
<body>
{{range .}}
<p>{{.Category}}: {{.Limit}} - {{.Frequency}} ... <a href= "/budgetitems/delete/process?id={{.ID}}">Delete</a></p>
{{end}}
<h1>Create A New Budget Item</h1>
<form method="post" action="/budgetitems/create/process">
    <input type="text" name="category" placeholder="category" required>
    <input type="text" name="expense_limit" placeholder="limit" required>
    <input type="radio" name="frequency" value="Weekly">
    <label for="Weekly">Weekly</label>
    <input type="radio" name="frequency" value="Monthly">
    <label for="Monthly">Monthly</label>
    <input type="submit">
</form>
</body>
</html>