<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create BudgetItem</title>
</head>
<body>
{{range .}}
<p>{{.Category}}: {{.Limit}} - {{.Frequency}}</p>
{{end}}

</body>
</html>