<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Expense</title>
</head>
<body>
<h1>Create A New Expense</h1>
<form method="post" action="/expenses/create/process">
    <input type="text" name="category" placeholder="category" required>
    <input type="text" name="description" placeholder="description">
    <input type="text" name="amount" placeholder="0.00">
    <input type="text" name="date" placeholder="yyyy-mm-dd">
    <input type="submit">
</form>
</body>
</html>