<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Expense</title>
</head>
<body>
<h1>Update Expense</h1>
<form method="post" action="/expenses/update/process">
    <input type="hidden" name="id" value="{{.ID}}">
    <input type="text" name="category" value={{.Item.Category}} required>
    <input type="text" name="description" value={{.Description}}>
    <input type="text" name="date" value={{.ExpenseDate.Format "Jan 02, 2006"}} required>
    <input type="text" name="amount" value={{.Amount}} required>
    <input type="submit">
</form>
</body>
</html>